.infowindow {
  padding: 5px 12px;
  p {
    text-align: center;
    margin-bottom: $margin-gutter;
  }
  button[type="button"] {

    width: 100%;
    @extend %btn-style;
    border: 2px solid #ddd;
    &:hover {
      background: $default-color;
      color: #fff;
    }
  }
}