.content-utils-box {
  position: absolute;
  bottom: $vertical-pos * 1.5;
  z-index: 9998;

  button[type="button"] {
    $location-btn-size: 40px;

    width: $location-btn-size;
    height: $location-btn-size;
    margin-left: 10px;
    background: $default-color;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #ddd;
  }
}

@include mobile {
  .content-utils-box {
    right: $mobile-horizontal-pos;
    
  }
}
@include tablet {
  .content-utils-box {
    right: $tablet-horizontal-pos;
  }
}
@include desktop {
  .content-utils-box {
    right: $desktop-horizontal-pos;
  }
}