// color
$default-color: rgb(33, 196, 168);
$facebook-color: #4267b2;
// padding
$default-padding: 15px;
// content margin
$margin-gutter: 10px;
$content-margin-top: 45px;

//device size
$mobile: 426px;
$tablet: 768px;
$desktop: 1026px;


// component styles
// common
$vertical-pos: 60px;
$mobile-horizontal-pos: $margin-gutter;
$tablet-horizontal-pos: $margin-gutter * 2;
$desktop-horizontal-pos: $margin-gutter * 5;
$default-box-color: rgba(75, 75, 75, 0.35);
// search
$search-max-width: 600px;
// modal
$modal-max-width: 600px;