.header-inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 $default-padding;
  @include clearfix;
}

.header-logged-box {
  $logged-box-size: 40px;

  float: right;
  @include clearfix;

  & > * {
    float: left;
  }
  .user-info {
    @include clearfix;
    display: block;
    & > * {
      float: left;
      margin-right: 10px;
    }
    div {
      width: $logged-box-size;
      height: $logged-box-size;
      border-radius: 50%;
      overflow: hidden;
    }
    img {
      width: 100%;
      height: auto;
    }
    span {
      display: block;
      line-height: $logged-box-size;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
  button[type="button"] {
    height: $logged-box-size;
    padding: 5px 7px;
    margin-left: 10px;
    cursor: pointer;
    background: $default-color;
    border-radius: 5px;
    color: #fff;
    
  }
}